services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: brh-web:latest
    ports:
      - "8081:80"
    environment:
      APP_ENV: local
      APP_DEBUG: true
      APP_KEY: ${APP_KEY}
      DB_CONNECTION: mysql
      DB_HOST: host.docker.internal
      DB_PORT: 3306
      DB_DATABASE: brh_lab
      DB_USERNAME: root
      DB_PASSWORD:
    volumes:
      - .:/var/www
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
